/* SECTION CLASSES STYLES */
.sections {
    max-width: 80vw;
    margin: 3% auto;
}

.sections.banner {
    background-color: var(--light-gray);
}

.banner .article {
    padding: 12px;
}

/** FLEX BOX & GRID **/

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexrow>* {
    flex: 1;
}

/** IMAGES **/
.image {
    max-width: 60%;
}

.image.lg {
    min-width: 60%;
    min-height: 350px;
}

.figure {
    max-width: 270px;
    background-color: var(--light-gray);
    margin-right: 12px;
}

.figure img {
    min-width: 100%;
}

.figure .caption {
    line-height: 1.5;
    text-align: center;
}

.caption.bold {
    font-weight: bolder;
}

/** LINE **/

.line {
    display: block;
    height: 6px;
    background-color: var(--red);
    max-width: 30%;
    border: unset;
    margin: 8px 0;
}


/** PARAGRAPH **/

.header {
    margin: 0 12px;
}

.paragraph {
    color: var(--dark-gray);
}

.paragraph.secondary {
    color: var(--dark-gray);
}

.paragraph.cap {
    text-transform: uppercase;
}

/** STORY **/

.story .article {
    padding: 10px;
}

.story .inner {
    margin-right: 12px;
    border-right: thin solid var(--light-gray);
}