.link {
    text-decoration: unset;
    color: var(--dark-blue);
}

.link:visited {
    color: unset;
}

.link:hover {
    text-decoration: underline;
}

.link.white {
    color: var(--white);
}

.link.blue {
    color: var(--dark-blue);
}

.link.primary {
    color: var(--dark-blue);
    font-weight: bolder;
}

.link.red {
    color: var(--red);
}

.link.lg {
    font-size: var(--font-lg);

}