:root {
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
svg {
    display: block;
    max-width: 100%;
}

input,
button {
    font: inherit;
}

p,
h5,
h6 {
    overflow-wrap: break-word;
}