.sections {
    min-height: 300px;
}

.sections.blue {
    background-color: var(--dark-blue);
    color: var(--white);
}

.sections.gridbox {
    display: grid;
    grid-template-rows: repeat(3fr, auto);
}

.sections.flexbox {
    display: flex;
    gap: var(--space-sm);
}

.sections.columns {
    flex-direction: column;
}

.sections.rows {
    flex-direction: row;
}